{% extends "survey/base.html" %}
{% load i18n %}
{% block title %}{{ title }} - Results | Marinexplore{% endblock %}
{% if survey.description %}
    {% block metadescription %}
        <meta name="description" content="{{ title }} results. {{ survey.description|striptags }}">
    {% endblock %}
{% endif %}
{% block css_includes %}
<style type="text/css">
.subheading { font-size: 0.8em; color: #666; text-transform: uppercase; margin:0;}
.question { padding: 2em 0 0 0;margin: 2em 0 0 0;border-top:1px solid #999;}
.question pre { margin-left: 2em; }
.question .bar { margin-top: 0.5em; width: 100%;}
.question .barAnswer { width: 100% !important; text-align: left;}
.question .question-results .barColor { background-color: #1394b3; padding: 0px;}
.question .question-results .barPercent { padding-left: 10px;}
</style>
{% endblock %}
{% block survey_content %}
<h5 class="subheading">Results after {{ survey.interview_count }} {% trans "repl" %}{{ survey.interview_count|pluralize:"y,ies" }}</h5>
<h1>{{ title }}</h1>
{% if survey.description %}<p>{{ survey.description|safe|linebreaks }}</p>{% endif %}
{% for question in survey.questions.all %}
<div class="question">
    <strong>{{ question.text }}</strong>
    <em>({{ question.answer_count }} {% if question.choices.count %}{% trans "Vote" %}{% else %}{% trans "Answer" %}{% endif %}{{ question.answer_count|pluralize:"s" }})</em>
    <div id='results{{forloop.counter}}' class='question-results'>
{% if question.choices.count %}
    {% for choice in question.choices.iterator %}
        <table border="0" cellpadding="0" cellspacing="0" class="bar">
            <caption class="barAnswer">{{ choice.text }}{% ifequal question.qtype "I" %}<br/><img src="{{ choice.image.url }}"/>{% endifequal %}</caption>
            <tr>
                <td style="width: {% widthratio choice.count question.answer_count 100 %}%" class="barColor">{% if choice.count %}&nbsp;{% endif %}</td>
                <td class="barPercent"><strong class="barVotes">{{ choice.count }}&nbsp;{% trans "vote" %}{{ choice.count|pluralize:"s" }}</strong>&nbsp;/&nbsp;{% widthratio choice.count question.answer_count 100 %}%</td>
            </tr>
        </table>
    {% endfor %}
{% else %}
    {% for answer in question.answers.all %}
        <div class="answer">
            <span style="text-transform:uppercase;padding-right:10px;color:#666;font-size:0.8em;">{% if view_submissions %}<a href='{% url answers-detail survey_slug=survey.slug,key=answer.session_key %}'>{% endif %}{% trans "Answer" %} {{ forloop.counter }}{% if view_submissions %}</a>{% endif %} {% trans "of" %} {{ question.answer_count }}</span>
            {{ answer.text }}
        </div>
    {% endfor %}
{% endif %}
    </div>
</div>
{% endfor %}
{% endblock %}
