{% extends "survey/base.html" %}
{% load i18n %}
{% load survey %}
{% block title %}Surveys | Marinexplore{% endblock %}
{% block survey_content %}
<table class="table">
    <thead>
        <th>{% trans "Surveys" %}</th>
        {% if user|can_view_answers:survey %}<th>{% trans "Responses"%}</th>{% endif %}
    </thead>
    <tbody>
    {% for survey in object_list %}
    {% if survey.open or user|can_view_answers:survey %}
    <tr class="{% cycle row1,row2 %}">
        <td>
            {% if survey.open and not request|has_answered:survey %}
                <a href='{% url survey-detail survey_slug=survey.slug %}'>{{ survey.title }}</a>
            {% else %}
                {{ survey.title }}
            {% endif %}
            <em class="survey-status-{{ survey.status }}">({{ survey.status }})</em>
        </td>
        {% if user|can_view_answers:survey %}
        <td>
            {% if survey.interview_count %}
                <a href='{% url survey-results survey_slug=survey.slug %}'>{{ survey.interview_count }}</a>
            {% else %}
                {% trans "No Responses"%}
            {% endif %}
        {% endif %}
        {% if request|has_answered:survey %}
            &sdot; <a href='{% url answers-detail survey_slug=survey.slug,key=request.session.session_key %}'>Your Response</a>
        </td>
        {% endif %}
    </tr>
    {% endif %}
    {% endfor %}
    </tbody>
</table>
{% endblock %}
