{% extends "survey/base.html" %}
{% load i18n %}
{% load survey %}
{% block title %}Surveys | Marinexplore{% endblock %}
{% block survey_content %}
<table class="table survey-listing">
    <thead>
        <th colspan="2">{% trans "Surveys" %}</th>
    </thead>
    <tbody>
    {% for survey in object_list %}
    {% if survey.open or user|can_view_answers:survey %}
    <tr class="{% cycle row1,row2 %}">
        <td>
            {% if survey.open and not request|has_answered:survey %}
                <a href='{% url 'survey-detail' survey_slug=survey.slug %}'>{{ survey.title }}</a>
            {% else %}
                {{ survey.title }}
            {% endif %}
            {% if request|has_answered:survey %}
                <a class="survey-status survey-status-completed" href='{% url 'answers-detail' survey_slug=survey.slug key=request.session.session_key %}'>Completed</a>
            {% elif survey.status != 'open' %}
                <span class="survey-status survey-status-{{ survey.status }}">{{ survey.status }}</span>
            {% endif %}
        </td>
        <td class="responses">
        {% if user|can_view_answers:survey %}
            {% if survey.interview_count %}
                <a href='{% url 'survey-results' survey_slug=survey.slug %}'>{{ survey.interview_count }} Response{{ survey.interview_count|pluralize }}</a>
            {% else %}
                -
            {% endif %}
        {% else %}
            &nbsp;
        {% endif %}
        </td>
    </tr>
    {% endif %}
    {% endfor %}
    </tbody>
</table>
{% endblock %}
